<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" >
</head>
<body>
    <h1>Hello {{username}}</h1>
    <img src="/static?file=icode.gif" width="370" height="190">
    <br>
    <div class="pure-menu pure-menu-horizontal">
        <a href="/login" class="pure-menu-link pure-menu-item">Login</a>
        <a href="/register" class="pure-menu-link pure-menu-item">Register</a>
        <a href="/todo/index" class="pure-menu-link pure-menu-item">Todo</a>
        <a href="/weibo/index" class="pure-menu-link pure-menu-item">Weibo</a>
    </div>
</body>
</html>