<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>todo ajax</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" >
        <link href='/static?file=wang.css' rel="stylesheet">
    </head>
    <body>
        <div class="header pure-form">
            <h1>TODO LIST</h1>
            <input id='id-input-todo'>
            <button id='id-button-add' class="pure-button pure-button-primary">添加</button>

        </div>

        <div class="content">
            <div class="todo-list">
            </div>
        </div>
        <script src='/static?file=wang.js'></script>
        <script src='/static?file=todo.js'></script>
{#        <link href='/static?file=wang.css' rel="stylesheet">#}
    </body>
</html>
